.navcolor {background-color: black;}

.computer, .languages ,.education{
    border-left:black 2px solid;
    
    list-style-position: inside;
}

.contactme{ background-color: black;
    color:white}
    
    .link {color: white;}

.lang{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    list-style: none;
}