*{ font-family: Verdana, Geneva, Tahoma, sans-serif;}

.about {
    color:white;
    vertical-align: middle;
}


body{background: url(https://cdn.pixabay.com/photo/2014/05/27/23/32/matrix-356024_960_720.jpg ) no-repeat center center fixed; 
    background-repeat: no-repeat;
    background-size: cover;}

.contactme{ background-color: black;
color:green}

.link {color: green;}

.navcolor{background-color: black;}


